{% extends 'layout/layout.html' %}
{% block body %}

<br>
  <br>
  <br>
  <center>
  Start<input type="text" size="30" name="start" value="">
  <br>
  <br>
  End<input type="text" size="30" name="end" value="">
  <center>
  <span id="result"></span>
  <span id="test2"></span>
  <p><a href="javascript:void();" class="button" id="calculate">Submit</a>
  <div id="test">
  </div>
  </center>

{% endblock %}
