<!doctype html>
    <head>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.css">
    	<title>Uber Fare</title>
        <script type=text/javascript>
          $(function() {
            $('#calculate').bind('click', function() {
              $.getJSON('/endpoints', {
                start: $('input[name="start"]').val(),
                end: $('input[name="end"]').val()
              }, function(data) {
                //$("#result").text(data.result);
                var output = JSON.parse(data.result);
                console.log(output);
                $('#test2').html(output.route.start_location.address + " --> " + output.route.end_location.address + "<br>");
                for(i=0; i < output.estimates.length; i++){
                  $('#test2').append(output.estimates[i].service +  "    Low Estimate:  " + output.estimates[i].low_estimate + "   High Estimate : " + output.estimates[i].high_estimate + "<br>");
                }
              });
              return false;
            });
          });
        </script>
    </head>
    <body>
        <a style="text-align:center" href="{{ url_for('index') }}">Home</a>
        <div class="page">
            <center><h1>Uber Price Estimate</h1></center>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
